NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwr___
NEXT_PUBLIC_APPWRITE_PROJECT_ID=6999564f____
NEXT_PUBLIC_APPWRITE_DATABASE_ID=6999567e000____
APPWRITE_API_KEY=standard_4d5ea49____

NEXT_PUBLIC_EMAIL_FROM=your@gmail.com
NEXT_PUBLIC_EMAIL_APP_PASSWORD="owqe xfey neuq eyfe"

JWT_SECRET_CLIENT=create_any_secret_key_this_almost_works_if_not_change